
.header{
  display: flex;
  position: fixed;
  background-color: black;
  align-items: center;
  margin-bottom: 10px;
  /*position: fixed;*/
  width: -webkit-fill-available;
  z-index: 2;
}

.header a{
  flex-grow: 1;
  color: white;
  /*font-family: 'Courgette', cursive;*/
  text-align: center;
  text-decoration: none;
}
.header a:hover{
  color: lawngreen;
}

@media (max-width: 375px) {
  body{
    width: 100%;
  }
  .header{
    display: flex;
    width: 100%;
  }
  .header a{
    font-size: 60%;
  }
}
