<p>Ви можете залишити свої відгуки тут</p>

<form *ngIf="userToken" #feedbackForm="ngForm" (ngSubmit)="comment(feedbackForm)">
  <label>
    <input type="text" name="comment" minlength="2" ngModel required>
  </label> <br>
  <!--<label> id:-->
    <!--<input type="text" name="id" ngModel value="12">-->
  <!--</label>-->
  <!--<label>name:-->
    <!--<input type="text" name="name" ngModel value="ihor">-->
  <!--</label>-->
  <br>
  <button style="font-size: 150%" type="submit" [disabled]="feedbackForm.invalid">OK</button>
</form>
<p *ngIf="!userToken" style="color: dimgrey">!!! Будь ласка зареєструйтеся, щоб залишити відгук</p>
<!--<div *ngFor="let comment of Comment">-->
  <!--{{comment.name}}-->
  <!--{{comment.id}}-->
<!--</div>-->

<!--<form>-->
  <!--<input type="text" name="name">-->
  <!--<button type="submit" (click)="Click()">kjkkjk</button>-->
<!--</form>-->

<br>

<div *ngFor="let comment of userFeedback">
  User name: {{comment.name}}
  <br>
  <div style="color: darkcyan; margin-left: 10%">{{comment.comment}}</div>
  <hr>
</div>
