<div class="main">
  <a routerLink="pizzas"> <img src="https://20.ua/media-resize/company_map_item/ekspress-pitstsa-23923.png?timestamp=1463651547" alt="">
    <br> <div>ПІЦА</div></a>
  <a href=""> <img src="https://www.sushiya.ua/modules/pages/pictures/fc4eeafb42974c336dc9b4997eba48fa_1123_1514453090.jpg" alt="" style="width: 400px; height: 400px">
    <br> <div>СУШІ</div></a>
  <a href=""><img src="https://smartomato.ams3.cdn.digitaloceanspaces.com/uploads/media/photo/108604/BK-1994_SWEEDEN_BURGER_512X512px.png" alt="" style="height: 400px; width: 400px">
    <br> <div>БУРГЕРИ</div></a>
</div>
